<ul>
    <li>Country: {{ geoData.country.name }} ({{ geoData.country.nameRus }})</li>
    <li>Region: {{ geoData.region.name }} ({{ geoData.region.nameRus }})</li>
    <li>City: {{ geoData.city.name }} ({{ geoData.city.nameRus }}) zip: {{ geoData.city.zipCode }}</li>
    <li>Coordinates: {{ geoData.coordinates.latitude }} lat {{ geoData.coordinates.longitude }} lng</li>
    <li>Timezone: {{ geoData.timezone }}</li>
</ul>
